.NavigationBar {
    display: flex;
    justify-content: space-around;
    background-color: #2f2f2f;
    align-items: center;
    height: 5vh;
}

.NavigationItem {
    font-size: 22px;
    line-height: 5vh;
    text-decoration: none;
    color: white;
    width: 25%;
    height: inherit;
    border: 1px #3f3f3f solid;
}

@media only screen and (max-width: 607px)  {
    .NavigationBar {
        flex-direction: column;
        height: 20vh;
    }

    .NavigationItem {
        width: 100%;
        line-height: 5vh;
    }
}