.AddView {
    align-self: center;
}

.AddView form {
    margin: 4rem;
    width: 50%;
    color: white;
    background-color: #2f2f2f;
    padding: 2.5rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.form-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-element input, .form-element select {
    width: 50%;
    min-width: 150px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 0.5rem
}

.form-element select {
    width: calc(50% + 15px);
    min-width: 165px;
}

.AddView form button {
    align-self: flex-end;
    border: none;
    color: white;
    background-color: #1f1f1f;
    padding: 0.5rem;
}

.AddView form button:hover {
    background-color: #3f3f3f;
}